* {
  margin: 0;
  padding: 0;
}

html, body {overflow-x: hidden;}

body {
  font: 100% arial, verdana, tahoma, sans-serif;
  color: #FFF;
  font:400 15px "Lato", sans-serif;
  overflow:hidden;
}

#home{
background:url(http://i58.tinypic.com/29cqp88.jpg) center no-repeat;
  background-size:cover
}

header {
  overflow: hidden;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

header h1 {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  font-size: 1.5em;
}
h1 a {color: #FFF; text-decoration: none;}

header input {
  float: right;
  padding: 10px;
  width: 200px;
  border: none;
}

.main {
  padding: 30px;
}
.main p {
  font-size: .9em;
  line-height: 1.2em;
  margin-bottom: 20px;
}

.menu-mobile {
  width: 40px;
  height: 32px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  text-indent: -9999px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: none !important;
  border: none !important;
}

.menu-mobile:before {
  content: "";
  display: block;
  margin: 7px auto;
  width: 50%;
  height: 0.20em;
  background: #1e1e1e;
  box-shadow: 0 .45em 0 0 #1e1e1e, 0 .9em 0 0 #1e1e1e;
}

menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 15em;
  height: 100%;
  padding-top: 10px;
  box-shadow: inset -5px -10px 10px 0 rgba(0,0,0,.3);
  background-color: #1e1e1e;
  text-transform: uppercase;
  overflow: auto;
}

menu li a {
  display: block;
  margin: 0 10px;
  color: #FFF;
  display: block;
  padding: 20px;
  color: #fff;
  font-family: sans-serif;
  font-size: 1.1em;
  text-decoration: none;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.04);
  -webkit-transition: all .20s ease;
  -moz-transition: all .20s ease;
  -o-transition: all .20s ease;
  transition: all .20s ease;
}


menu {
  -webkit-transform: translateX(-15em);
  -moz-transform: translateX(-15em);
  -ms-transform: translateX(-15em);
  transform: translateX(-15em);
  -webkit-transition: all .25s linear;
  -moz-transition: all .25s linear;
  -ms-transition: all .25s linear;
  transition: all .25s linear;
}

header, .main {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: all .25s linear;
  -moz-transition: all .25s linear;
  -ms-transition: all .25s linear;
  transition: all .25s linear;
}

.menu-active menu {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

.menu-active header, 
.menu-active .main {
  -webkit-transform: translateX(15em);
  -moz-transform: translateX(15em);
  -ms-transform: translateX(15em);
  transform: translateX(15em);
}

#listView li:last-child a, #logo {
  color: #64C135;
}

.list-item-active {
  background-color: #0d0d0d;
}

#listView li a {
  display: block;
  padding: 20px;
  color: #fff;
  font-family: sans-serif;
  font-size: 1.1em;
  text-decoration: none;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.04);
  -webkit-transition: all .20s ease;
  -moz-transition: all .20s ease;
  -o-transition: all .20s ease;
  transition: all .20s ease;
}

#list-item-logo {
  text-align: center;
  color:  #64C135;
  margin: 25px;
}

.footer {
  font-size: 12px;
  margin: 0 auto;
  margin-top: 25px;
  text-transform: none;
  color: #fff;
  position: absolute;
  bottom: 0;
}

p { padding: 1em; text-align: center; }

.card {
  position: relative;
  margin: 1em auto;
  width: 15em;
  transform-style: preserve-3d;
  transition: transform 1.5s linear;
}
.flipped {
  transform: rotateY(180deg);
}
.card .face {
  position: absolute;
  top: 0; right: 0; left: 0;
  padding: .5em;
  border-radius: .25em;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}
.card .face:last-child {
  transform: rotateY(180deg);
}
.card h2 {
  text-align: center;
}
.card input, .card button {
  display: block;
  margin: 1em auto;
  border: none;
  padding: .25em;
  width: 90%;
  border-radius: .25em;
  font-size: 1em;
}

.card .btn {
  position: relative;
  background-color: #64C135;
  text-shadow: 0 2px 0 #64C135;
  cursor: pointer;
}

.btn2 {
  background-color: #49639F;
  color: #fff;
}

#icon-home {
  height: 30px;
  background-color: inherit;
  box-shadow: none;
  border: none;
}

#icon-home:after {
  background-color: #1e1e1e;
  border-radius: 25%;
}