<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
		id          = "Eat-and-share"
        version     = "1.0.0" >

    <name>Eat and Share</name>
    <icon src="merges/android/favicon.png" platform="android" width="57" height="57" density="mdpi" />
    <description>Student team project for BAI classes</description>
    <author href="" email="">
		Barbara Nogaś, Agnieszka Tuleta, Przemysław Krzyżak, Jakub Woźniak
	</author>
	<platform name="android" />
	
	<plugin name="cordova-plugin-device" spec="2.0.1" />
	<plugin name="cordova-plugin-dialogs" spec="2.0.1" />
    	<plugin name="cordova-plugin-whitelist" spec="~1.3.3" />

</widget>
